@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');

body {
  display: grid;
  place-items: center;
  background: rgb(199, 194, 185);
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Roboto', 'sans-serif';
}

.container {
  display: grid;
  place-items: center;
  background-color: rgb(199, 185, 186);
  border-radius: 5px;
  box-shadow: 2px 2px 50px black;
  padding: 0em 3em;
}

#title {
  font-size: 2.7rem;
}

.reference {
  font-size: 1.1rem;
  font-weight: 100;
}

.container h1 {
  font-size: 2.3rem;
  font-weight: 200;
}

svg {
  border-radius: 5px;
  padding: 2em 4em;
}

.bar {
  fill: rgb(14, 29, 43);
}

.tick {
  font-size: 0.9rem;
}

.bar:hover {
  fill: rgb(98, 149, 194);
}

#x-axis,
#y-axis {
  color: rgb(0, 0, 0);
}

#tooltip {
  position: absolute;
  padding: 1em 2em;
  background: rgb(90, 70, 70);
  color: white;
  opacity: 0;
  border-radius: 5px;
  pointer-events: none;
  text-align: center;
  transition: 0.2s all;
}
